[Desktop Entry]
Type=Application
Name=ARTF Data Viewer
GenericName=View data logged from remote sensors as charts
Exec=/usr/bin/chromium-browser --start-maximized http://localhost:5000
Terminal=false
Categories=Development;Engineering;Electronics;