<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{site_title}}</title>
        {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
        {% endassets %}
        <style>
        body {
            min-height: 2000px;
            padding-top: 70px;
        }
        </style>

    </head>
    <body>

        {% include 'nav.html' %}

        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-10 col-md-offset-1">
                    <h3 style="text-align:center;">SMS Data Receiver Log</h3>
                    <br />
                    <table id="log-table" class="table table-striped">

                        {% include 'log_table.html' %}
                    </table>
                </div>
            </div>
        </div>

        {% assets "js_jquery" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        <script>
        // Refresh every X minutes. Need to use millis.
        var refreshInterval = 1 * 60 * 1000;
        setInterval(function() {
            $.get('/api/status', function(html) {
                $('#log-table').html(html);
            }, 'html');
        }, refreshInterval);
        </script>
    </body>
</html>