<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{site_title}}</title>
        {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
        {% endassets %}
        <style>
        body {
            padding-top: 90px;
        }
        </style>

    </head>
    <body>

        {% include 'nav.html' %}

        <div class="container">
            {% if flash is defined and flash == 0 %}
            <div class="alert alert-success" role="alert">The update script ran successfully!</div>
            {% elif flash is defined  %}
            <div class="alert alert-danger" role="alert">The update script failed!</div>
            {% endif %}
            <div class="jumbotron">
                <h2>Check for updates</h2>
                <p>This is an early implementation of the software updater. It runs the update script whether updates exists or not.
                    Currently this page just saves you the trouble of opening a terminal and running the update script.</p>
                <p>Click the button to update your version of the ARTF Receiver and Viewer software.</p>
                <br />
                <form method="post" action="/updates">
                    <p><input type="submit" class="btn btn-info btn-lg" role="button" value="Update ARTF Receiver and Viewer"/></p>
                </form>
            </div>
        </div>

        {% assets "js_jquery" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        <script>
        var currentDate = new Date();
        $('#last_updated_at').text(currentDate.toLocaleDateString() + " at " + currentDate.toLocaleTimeString());
        </script>
    </body>
</html>